@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
  }
}

@theme {
  --font-sans: "Inter", var(--font-sans);
}
